<div class="panel panel-info">
	<div class="panel-heading">

		<form class="form-inline">
			<div class="row">
			
			<div class="col-sm-2 col-xs-3">
			<a class="btn btn-primary" href="#/CreatePropietario">Crear&nbsp;<i class="fa fa-user-plus"></i></a>
			</div>
			<div class="form-group col-sm-10 col-xs-9">
				<div class="input-group">
					<input type="text" class="form-control" id="exampleInputAmount" placeholder="Cedula...">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
				</div>
			</div>
			</div>
		</form>
<!--
		<form class="form-inline">
  <div class="form-group row">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Transfer cash</button>
</form>
-->
	</div>
	<div class="panel-body">

<div class="col-lg-4 col-md-6" ng-repeat="item in items">
	<div class="panel panel-primary">
		<div class="panel-heading">
    		<div class="row">
        		<div class="col-xs-3">
            		<i class="fa fa-user fa-5x"></i>
				</div>
            	<div class="col-xs-9 text-right">
            		<div>
            			<h4>{{item.cedula}}</h4>
            		</div>
                	<div class="text-right" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                		<small>{{item.nombre}}</small>
                	</div>	
				</div>
			</div>
		</div>
			
        <div class="panel-footer">
        	<span class="pull-left"><small>{{item.email}}</small></span>
        	<span class="pull-right">
        		<a href="#/EditPropietario/{{item.id}}"><i class="fa fa-pencil"></i></a>
        		&nbsp;
        		<a href="#/DashboardPropietario/{{item.id}}"><i class="fa fa-search"></i></a>
        		&nbsp;
        		<a href=""><i class="fa fa-user-times"></i></a>
        	</span>
            <div class="clearfix"></div>
		</div>
	</div>
</div>

	</div>
	<div class="panel-footer text-center">
		<pagination style="margin: 0;" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
	</div>
</div>